#success{
    font-size : 1.8rem;
    margin: 10px;
    margin-left:0px;
    padding:10px;
    color: hsl(120, 100%, 33%);
    background-color: hsl(0, 0%, 79%);
    border: solid 5px hsl(120, 100%, 33%);
    border-radius: 15px
}
#error{
    font-size : 1.5rem;
    margin: 10px;
    margin-left:0px;
    padding:10px;
    color: hsl(0, 100%, 37%);
    background-color: hsl(0, 0%, 79%);
    border: solid 5px hsl(0, 100%, 37%);
    border-radius: 10px
}